<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :ssn, style: "display: block" %>
    <%= form.text_field :ssn %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.select :role, Profile.roles.map { |key, value| [key.humanize, key] }, include_blank: true %>
  </div>

  <%= form.fields_for :address, @address do |ff| %>
    <div>
      <%= ff.label :address_line_1, style: "display: block" %>
      <%= ff.text_field :streetLineOne %>
    </div>

    <div>
      <%= ff.label :address_line_2, style: "display: block" %>
      <%= ff.text_field :streetLineTwo %>
    </div>

    <div>
      <%= ff.label :city, style: "display: block" %>
      <%= ff.text_field :city %>
    </div>

    <div>
      <%= ff.label :state, style: "display: block" %>
      <%= ff.text_field :state %>
    </div>

    <div>
      <%= ff.label :zip_code, style: "display: block" %>
      <%= ff.text_field :zip_code %>
    </div>
  <% end %>

<div class="actions">
  <%= form.submit %>
</div>

<% end %>
