<%= form_with(model: visit) do |form| %>
  <% if visit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
        <% visit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date_of_service, style: "display: block" %>
    <%= form.date_field :date_of_service %>
  </div>

  <div>
    <%= form.label :provider_organization_id, style: "display: block" %>
    <%= form.select(:provider_organization_id, ProviderOrganization.all.collect { |po| [ po.name, po.id ] }, { include_blank: true }, { "data-placeholder": 'Select Provider Organization' }) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
