<%= form_with(model: patient) do |form| %>
  <% if patient.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :sex, style: "display: block" %>
    <%= form.select :sex, Patient.sexes.map { |key, value| [key.humanize, key] }, include_blank: true %>
  </div>

  <div>
    <%= form.label :date_of_birth, style: "display: block" %>
    <%= form.date_field :birthdate %>
  </div>

  <div>
    <%= form.label :provider_organizations, class: "block" %>
    <% ProviderOrganization.all.each do |option| %>
      <%= form.check_box :engaged_provider_organization_ids, { multiple: true }, option.id, nil %>
      <%= option.name %><br>
    <% end %>
  </div>

  <div>
    <%= form.label :documents, style: "display: block" %>
    <%= form.file_field :documents, multiple: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
