<p style="color: green"><%= notice %></p>

<h1>Patients</h1>

<%= button_to "New patient", new_patient_path %>

<div>
  <br />
  <%= search_form_for @q, html: {"data-controller": "filters", "data-turbo-frame": "table"} do |f| %>
    <div><%= f.search_field :name_cont, "data-action": "filters#submit", placeholder: 'Search by name...' %> <%# f.submit %></div>
  <% end %>
</div>


<%= turbo_frame_tag "table", target: '_top' do %>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%# render @patients %>
        <%= render partial: "patients/name_only", collection: @patients, as: :patient %>
      </tbody>
    </table>
  </div>
  <%= raw pagy_nav(@pagy) %>
<% end %>
