<p style="color: green"><%= notice %></p>

<h1>Patients</h1>

<%= link_to "New patient", new_patient_path %>

<%= search_form_for @q, html: {"data-controller": "filters", "data-turbo-frame": "table"} do |f| %>
<br />
  <div>
    <%= f.search_field :last_name_start, "data-action": "filters#submit", placeholder: 'Search by last name...' %>
  </div>
  <br />
  <div>
    <%= f.submit %>
  </div>
<% end %>

<%= turbo_frame_tag "table", target: '_top' do %>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Last</th>
        <th>First</th>
        <th>Documents</th>
        <th>View Patient</th>
      </tr>
    </thead>
    <tbody>
      <%= render @patients %>
    </tbody>
  </table>
</div>

<%= raw pagy_nav(@pagy) %>
<% end %>
