<p style="color: green"><%= notice %></p>

<div>
  <h3><strong>Name:</strong> <%= @patient.name %></h3>
  <p><strong>Date of Birth:</strong> <%= @patient.birthdate %></p>
  <p><strong>Sex: <%= @patient.sex ? @patient.sex.first.capitalize : nil %></strong></p>

  <% @patient.documents.each do |d| %>
    <%= link_to d.filename, d.url, target: :_blank %>
  <% end %>
</div>

<div>
  <%= link_to "Edit this patient", edit_patient_path(@patient) %> |
  <%= link_to "Back to patients", patients_path %>

  <%= button_to "Destroy this patient", @patient, method: :delete %>
</div>
