<%= form_with(model: credential) do |form| %>
  <% if credential.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(credential.errors.count, "error") %> prohibited this credential from being saved:</h2>

      <ul>
        <% credential.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :requirement_id, style: "display: block" %>
    <%= form.select :requirement_id, Requirement.all.collect { |r| [ r.name, r.id ] }, include_blank: true %>
  </div>

  <div>
    <%= form.label :profile_id, style: "display: block" %>
    <%= form.select :profile_id, Profile.all.collect { |p| [ p.first_name, p.id ] }, include_blank: true %>
  </div>

  <div>
    <%= form.label :expiration_date, style: "display: block" %>
    <%= form.date_field :expiration_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
