<p style="color: green"><%= notice %></p>

<h1>Credentials</h1>

<%= link_to "New credential", new_credential_path %>

<table>
  <tr>
    <th>Requirement</th>
    <th>Profile</th>
    <th>Expiration Date</th>
    <th><!--- Link Column ---></th>
  </tr>
  <% @credentials.each do |credential| %>
    <tr>
      <td><%= credential.requirement.name %></td>
      <td><%= credential.profile.first_name %></td>
      <td><%= credential.expiration_date %></td>
      <td><%= link_to "View", credential %></td>
    </tr>
  <% end %>
</table>


