<div id="<%= dom_id worker %>">
  <p>
    <strong>Worker type:</strong>
    <%= worker.worker_type %>
  </p>

  <p>
    <strong>Payroll workerid:</strong>
    <%= worker.payroll_workerId %>
  </p>

  <p>
    <strong>Work email:</strong>
    <%= worker.work_email %>
  </p>

  <p>
    <strong>Personal email:</strong>
    <%= worker.personal_email %>
  </p>

  <p>
    <strong>Contact phone:</strong>
    <%= worker.contact_phone %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= worker.date_of_birth %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= worker.profile_id %>
  </p>

</div>
